<!DOCTYPE html>
<html>
  <head>
    <title><%= "Discovery of Exoplanets" %></title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <script src="chartkick.js"></script>
  </head>
  <body>
     <%= yield %>
  </body>
</html>
